@charset "UTF-8";
body {
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}
div.container{ 
  width: 1200px;
  margin:0 auto;}
div.innerCont {
  position:relative;
  background: white;
  /*border: 1px solid gray;*/
  /*padding-top:20px;*/
  /*max-width:1200px;*/
  overflow:hidden;
  width: 700px;
  margin:0 auto; 
  
}



div.innerCont .leftArea {width:600px; }
div.innerCont .leftArea .leftbtn {float: left; margin: 0px 5px 40px 280px; width:70px; height:40px; border:none; border-radius:5px;  background:#01b1d7; color:#fff;}
div.innerCont .leftArea .rightbtn {width:70px; height:40px; border:none; border-radius:5px;  background:gray; color:#fff;}

div.innerCont .leftArea .bluebtn {width:70px; height:40px; border:none; border-radius:5px;  background:#01b1d7; color:#fff;}
div.innerCont .leftArea .graybtn {float: left; margin: 0px 5px 40px 280px; width:70px; height:40px; border:none; border-radius:5px;  background:gray; color:#fff;}