@charset "UTF-8";
body {
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}
div.container{ 
  width: 1200px;
  margin:0 auto;}
div.innerCont {
  position:relative;
  background: white;
  /*border: 1px solid gray;*/
  /*padding-top:20px;*/
  /*max-width:1200px;*/
  overflow:hidden;
  width: 1000px;
  margin:0 auto; 
  
}

.innerCont .leftArea{float:left; width:400px; margin:10px; padding:10px; border:1px black;}
.innerCont .rightArea{float:left; width:500px; margin:10px; padding:20px;  border-radius:20px;  box-sizing:border-box; background:#CFDDF3;}
