@charset "UTF-8";


body {
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}
div.container{ 
	width: 1200px;
  margin:0 auto;}
div.innerCont {
  position:relative;
  background: white;
  /*border: 1px solid gray;*/
  /*padding-top:20px;*/
  /*max-width:1200px;*/
  overflow:hidden;
   width: 960px;
     margin:0 auto;
     padding-bottom:100px;
   min-height:900px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
   text-align: center;
}

/*list*/
.leftArea { float:left; width:296px;}
.leftArea .inner { padding:10px;  box-sizing:border-box; background:#ededed;}
.leftArea .inner .searchInp { overflow:hidden; position:relative;  height:65px; background:#fff; }
.leftArea .inner .searchInp input { padding:0 80px 0 18px; width:100%; height:100%; border:none; background:#fff;}
.leftArea .inner .searchInp button { position:absolute; top:50%; right:10px; transform:translateY(-50%); width:65px; height:30px; border:none; border-radius:5px;  background:#01b1d7; color:#fff; }
.leftArea .inner .box { padding:9px 16px; margin-top:10px;  background:#fff;}
.leftArea .inner .box > strong { display:block; padding-bottom:12px; font-size:20px; font-weight:normal; border-bottom:1px solid #E0E0DF}
.leftArea .inner .box .tag { overflow:hidden; }
.leftArea .inner .box .tag .check {
overflow:hidden; display:inline-block;
position:relative; height:26px; box-sizing:border-box;
cursor:pointer; float:left; margin:7px 0 0 7px; padding:0 5px; min-width:65px; height:30px;
 line-height:30px; font-size:14px; border-radius:30px; 
 border:1px solid #ededed; background:#fff; }
.leftArea .inner .box .tag .check input {overflow:hidden;display:none;width:0px;height:0px;border:0 none;font-size:0;line-height:0;clip:rect(0 0 0 0);opacity:0;}
.leftArea .inner .box .tag .check input .txt {display:inline-block;padding-left:36px;font-size:16px;color:#ededed; }

.leftArea .inner .box .tag #keywordBtn { float:right; margin:8px 0 0 7px; padding:0 5px; min-width:65px; height:30px; line-height:30px;  border-radius:5px; background:#01b1d7; color:#fff; border: none; }
.leftArea .inner .box .detailBtn { margin-top:15px; width:100%; height:40px; line-height:40px; border-radius:5px; background:#01b1d7; color:#fff; border: none;}
.leftArea .inner .box .tit { margin:15px 0; font-size:17px; font-weight:500;}
.rightArea  { float:right; width:650px; }
.rightArea .optionSelect { text-align:right;}
.rightArea .coachingList {padding:40px; margin-bottom:10px; border:1px solid #ccc;}
.rightArea .coachingList .cont {  position:relative; padding:15px 30px; }
.rightArea .coachingList .cont .img { overflow:hidden; position:absolute; left:20px; top:10px; width:140px; height:140px; border-radius:50%; background:#eee;}
.rightArea .coachingList .cont .img img { width:100%; height:100%;}
.rightArea .coachingList .cont .txt { padding-left:250px;}
.rightArea .paginationWrap { margin-top:20px; text-align:center;}
.rightArea .paginationWrap > ul { overflow:hidden; display:inline-block;}
.rightArea .paginationWrap > ul li { float:left; border:1px solid #ddd; border-radius:5px;}
.rightArea .paginationWrap > ul li + li { margin-left:8px;}
.rightArea .paginationWrap > ul li a { padding:8px; font-size:18px; color:#000;}

/*detail*/
.innerCont .bar { float:left; width:630px; border:1px solid #A5A5A4; padding:20px; }
.rightBar { float:right; width:300px; }
.rightBar .inner {border:1px solid #A5A5A4; padding:20px; }
.rightBar .inner .coachInfo { diaplay:table; overflow:hidden; }
.rightBar .inner .coachInfo .profile { overflow:hidden; display:table-cell; width:100px; height:100px; border-radius:50%; background:#eee;}
.rightBar .inner .coachInfo .profile img { width:100%;}
.rightBar .inner .coachInfo > strong { display:table-cell; vertical-align:middle; padding-left:15px;}
.rightBar .inner dl { overflow:hidden;}
.rightBar .inner dl dt { float:left; clear:right; width:40%; font-size:14px; }
.rightBar .inner dl dd { float:left; width:60%;  font-size:14px;}
.rightBar .inner button { width:100%; height:40px; background:#01b1d7; color:#FFFFFF; border-radius:5px; border: none;}
.rightBar .kakaoMap  {padding:20px; margin-top:10px;}
.section { float:left; width:630px;  padding:10px; margin-top:10px;}
/*.section .main_content_tab .content_tab {list-style:none; display:inline-block; padding-left:110px; padding-top:10px; padding-right:50px; }*/
.section .main_content_tab { overflow:hidden;}
.section .main_content_tab li { list-style:none; width:50%; float:left; padding:10px 0; text-align:center; border-bottom:4px solid #ebebeb; }
.section .main_content_tab li.active { border-color:#01b1d7;}
.section .tabCont { display:none; min-height:400px;}
.section .tabCont.article { display:block;}
.section .tabCont.article2 .starPoint{ font-size:35px; padding-left:20px;padding-top:10px; margin-left:10px; margin-top:5px; font-weight:bold; font-weight:bold;} 
/*.article { height:800px;}
.article2 { height:800px;}*/




