@charset "UTF-8";


body {
  background-color: #fff;
}
div.container {
  position:relative;
  background: white;
  /*border: 1px solid gray;*/
  width: 1200px;
  margin:0 auto;
  padding-top:35px;
  max-width:1200px;
  overflow:hidden;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
   text-align: center;
}

.innerCont { overflow:hidden;}
.leftArea { float:left; width:354px;}
.leftArea .inner { padding:18px; border-radius:20px; box-sizing:border-box; background:#CFDDF3;}
.leftArea .inner .searchInp { overflow:hidden; position:relative; border-radius:15px; height:65px; background:#fff; }
.leftArea .inner .searchInp input { padding:0 80px 0 18px; width:100%; height:100%; border:none; background:#fff;}
.leftArea .inner .searchInp button { position:absolute; top:50%; right:10px; transform:translateY(-50%); width:65px; height:30px; border:none; border-radius:20px; border:1px solid #A5A5A4; background:#fff; }
.leftArea .inner .box { padding:9px 16px; margin-top:20px; border-radius:20px; background:#fff;}
.leftArea .inner .box > strong { display:block; padding-bottom:12px; font-size:20px; font-weight:normal; border-bottom:1px solid #E0E0DF}
.leftArea .inner .box .tag { overflow:hidden; }
.leftArea .inner .box .tag .check {
overflow:hidden; display:inline-block;
position:relative; height:26px; box-sizing:border-box;
cursor:pointer; float:left; margin:7px 0 0 7px; padding:0 5px; min-width:65px; height:30px;
 line-height:30px; font-size:14px; border-radius:30px; 
 border:1px solid #CFDDF3; background:#fff; }
.leftArea .inner .box .tag .check input {overflow:hidden;display:none;width:0px;height:0px;border:0 none;font-size:0;line-height:0;clip:rect(0 0 0 0);opacity:0;}
.leftArea .inner .box .tag .check input .txt {display:inline-block;padding-left:36px;font-size:16px;color:#CFDDF3; }
/*.leftArea .inner .box .tag button { 
float:right; margin:8px 0 0 7px; padding:0 5px; min-width:65px; height:30px; 
line-height:30px; font-size:14px; border-radius:30px; border:1px solid #A5A5A4; background:#fff;}*/
.leftArea .inner .box .tag #keywordBtn { float:right; margin:8px 0 0 7px; padding:0 5px; min-width:65px; height:30px; line-height:30px; font-size:14px; border-radius:30px; border:1px solid #A5A5A4; background:#fff;}
.leftArea .inner .box .detailBtn { margin-top:15px; width:100%; height:40px; line-height:40px; border-radius:20px; border:1px solid #A5A5A4; background:#fff;}
.leftArea .inner .box .tit { margin:15px 0; font-size:17px; font-weight:500;}
.rightArea  { float:right; width:760px;}
.rightArea .cochingList {padding:40px; margin-bottom:10px; border:1px solid #A5A5A4;}
.rightArea .cochingList .cont {  position:relative; padding:15px 30px; }
.rightArea .cochingList .cont .img { overflow:hidden; position:absolute; left:20px; top:10px; width:140px; height:140px; border-radius:50%; background:#eee;}
.rightArea .cochingList .cont .img img { width:100%; height:100%;}
.rightArea .cochingList .cont .txt { padding-left:250px;}
.rightArea .paginationWrap { margin-top:20px; text-align:center;}
.rightArea .paginationWrap > ul { overflow:hidden; display:inline-block;}
.rightArea .paginationWrap > ul li { float:left; border:1px solid #ddd; border-radius:5px;}
.rightArea .paginationWrap > ul li + li { margin-left:8px;}
.rightArea .paginationWrap > ul li a { padding:8px; font-size:18px; color:#000;}