@charset "UTF-8";
body {
  background-color: #fff;
}
div.innerCont {
  position:relative;
  background: white;
  /*border: 1px solid gray;*/
  width: 1200px;
  margin:0 auto;
  padding-top:35px;
  max-width:1200px;
  overflow:hidden;
}
.sidebar { float:left; width:300px;}
.innerCont .content {float:left; width:700px; padding:18px; box-sizing:border-box; }
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
   text-align: center;
}

 .nav {
        padding: 5px;
 }
 .nav-menu ul li {
      list-style:none;
        padding: 10px;
 }
  .nav-menu ul li a { color:black; font-size:17px;  }
  .img{margin:20px; padding:20px;}