@charset "UTF-8";
body {
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}
div.container{ width: 1200px;}
div.innerCont {
  position:relative;
  background: white;
  /*border: 1px solid gray;*/
  width: 1200px;
  margin:0 auto;
  /*padding-top:20px;*/
  /*max-width:1200px;*/
  overflow:hidden;
  padding-bottom:50px;
}
.sidebar { float:left; width:300px;}
.sidebar .nav-menubar .side_ul .side_list {padding:8px 20px; margin:10px;list-style:none;}
.sidebar .nav-menubar .side_ul .side_list a {color:black;}
.innerCont .content {float:left; width:700px; min-height:400px;padding:18px; box-sizing:border-box; }
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
   text-align: center;
}

.content .img { float:left; left:20px; padding:20px; margin:20px; width:200px; height:200px;}
.content .img img { width:100%; height:100%;}

.content .profile_img { overflow:hidden;  width:150px; height:150px; border-radius: 50%; border: 1px solid #ededed; background:#eee; margin: 10px 0px 0px 260px;}
/*.content .profile_img img { width:100%;}*/
.content .update_frm { text-align:center; padding: 30px 0px 20px 0px}

.content .leftbtn {float: left; margin: 20px 5px 40px 260px; width:70px; height:40px; border:none; border-radius:5px;  background:#01b1d7; color:#fff;}
.content .rightbtn {width:70px; height:40px; border:none; border-radius:5px;  background:gray; color:#fff;}

.paginationWrap { margin-top:20px; text-align:center;}
.paginationWrap > ul { overflow:hidden; display:inline-block;}
.paginationWrap > ul li { float:left; border:1px solid #ddd; border-radius:5px;}
.paginationWrap > ul li + li { margin-left:8px;}
.paginationWrap > ul li a { padding:8px; font-size:18px; color:#000;}


#checkpwdbtn { width:70px; height:40px; border:none; border-radius:5px;  background:#01b1d7; color:#fff;}
#pay_btn {float: left; margin: 0px 5px 40px 280px; width:70px; height:40px; border:none; border-radius:5px;  background:#01b1d7; color:#fff;}
#cancel_btn{width:70px; height:40px; border:none; border-radius:5px;  background:gray; color:#fff;}

.order_frm {border:none; padding:10px 10px 0px 10px; margin:10px 10px 0px 10px}
.content .coach_img { overflow:hidden;  float:left; width:150px; height:150px; border-radius: 50%; border: 1px solid #ededed; background:#eee; margin: 30px 60px 30px 20px ;}
.order_frm dl {overflow: hidden;}
.order_frm dl dt {float: left;clear: right;width: 40%;font-size: 14px;}
.order_frm dl dd{ float: left;width: 60%;font-size: 14px;}
.content .div{ overflow:hidden;  float:left; width:150px;   margin: 30px 60px 30px 20px ;}
.pay_method { width:30px; margin:0px 10px 20px 0px;}
#pay_frm {text-align:center; margin:0px;}







  
/* 별점 시작 */
.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;
background:url('http://localhost:9999/coachcoach-team-project/upload/img/grade_img.png')no-repeat; }
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}
.star-input>.input{display:inline-block; width:150px; background-size:150px; height:28px; white-space:nowrap; overflow:hidden;position:relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
.star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}
/* 별점 끝 */
