/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* 테이블 스타일 관련--------------------------------------------------------------
--------------------------------------------------------------*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ea7306;
    border-color: #ea7306;
}

a.page-link:focus {
  outline: none;
  box-shadow: none;
}


a.page-link {
  outline: none;
  box-shadow: none;
  color: #ea7306;
}

a.page-link:hover {
  border-color: #ea7306;
  color: #ea7306;
}

.table-head {
	background-color: #ff8c55;
	color: white;
}

th, td {
	text-align: center;
}


/*모달 관련*--------------------------------------------------------------
--------------------------------------------------------------*/
.modal-header h5{
  color: #ff8c55;
}

#memberDetail th, #requestDetail th {
	width:124px;
}

/*--------------------------------------------------------------
--------------------------------------------------------------*/


body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  overflow-x: hidden;
}

.body-footer {
  margin-bottom: 100px;
	}

a {
  color: #ecb304;
}

a:hover {
  color: #ff8040;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #149ddd;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #2eafec;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header 및 프로필 관련
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  overflow: hidden;
  display: block;
  height: 130px;
  border: 8px solid #ffffff;
  border-radius: 50%;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#main {
  margin-left: 300px;
  position: relative;
  background-color: #e6e6e6;
}


@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

.detailProfile {
  overflow: hidden;
  position: relative;
}

.detailProfile .photo {
	margin-left: 15px;
	margin-top: 18px; 
	margin-right: 50px; 
  float:left;
  width: 180px;
	}
	
.detailProfile .content_box {
  float:left;
  width: 700px;
  margin-left: 15px;
  }

.detailProfile section, .detailProfileUpdate section{
	overflow: hidden;
  margin: 10px;
  margin-left: 0px;
	padding: 7px;
  width : 800px;
}

.col1 {
	color: white;
	background-color: #ff8c55;
  border-color: #ff9966;
  border-radius: 5px 0 0 5px;
}

.value { 
	background-color: white;
	border-color: #ff9966;
  border-radius: 0 5px 5px 0;
  width: 596px;
}

.modal .col1 {
	color: white;
  background-color: #ff8c55;
  border-color: #ff9966;
  border-radius: 5px 0 0 5px;
}


.name .col1 {
	padding: 7px;
	width : 150px;
	float: left;
	border-width: 1px;
  border-style: solid;
}

.name .value {
  padding: 7px;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.area .col1 {
  padding: 7px;
  width : 150px;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.area .value {
  padding: 7px;
  height: 40px;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.career .col1 {
  padding: 7px;
  width : 150px;
  height: 70px;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.career .value {
  padding: 7px;
  height: 70px;
  float: left;
  border-width: 1px;
  border-style: solid;
  overflow-y: scroll;
}

.certification .col1 {
  padding: 7px;
  width : 150px;
  height: 70px;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.certification .value {
  padding: 7px;
  height: 70px;
  float: left;
  border-width: 1px;
  border-style: solid;
  overflow-y: scroll;
}

.introduce .col1 {
  padding: 7px;
  width : 150px;
  height: 300px;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.introduce .value {
  padding: 7px;
  height: 300px;
  float: left;
  border-width: 1px;
  border-style: solid;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.value::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.value {
    -ms-overflow-style: none;
}

.detailProfile .content_box section button {
	margin-top:20px;
	margin-bottom:50px;
  background-color: #ff8c55 !important;
  color: white;
  float:right;
  margin-right: 40px;
}

.detailProfile .content_box section button:hover {
  margin-top:20px;
  margin-bottom:50px;
  background-color: #ea7306 !important;
  float:right;
  color: white;
   margin-right: 40px;
}


/*버튼 관련--------------------------------------------------------------
--------------------------------------------------------------*/

/*부트스트랩 버튼 변형... 클릭시 테두리에 색 생기는거 바꿈*/
.btn:focus, .btn:active:focus, .btn.active {
  box-shadow: none;
}

.addForm {
  text-align: right;
}
	
.orange-button {
	margin-top:20px;
  background-color: #ff8c55 !important;
  color: white;
  outline: none;
  box-shadow: none;
}

.orange-button-detail {
  background-color: #ff8c55 !important;
  color: white;
  outline: none;
  box-shadow: none;
}

/*버튼 꾹 클릭시 파란 테두리 안나오게 하기*/
.orange-button:focus, .orange-button-detail:focus {
  outline: none;
  box-shadow: none;
}

.orange-button:hover, .orange-button-detail:hover {
  background-color: #ea7306 !important;
  color: white;
}

/* 타이틀 하이라이트--------------------------------------------------------------
--------------------------------------------------------------*/

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #ff8c55 50%);
}


/*content 영역--------------------------------------------------------------
--------------------------------------------------------------*/

#content {
	  padding-top: 60px;
    padding-left: 60px;
    min-height: 950px;
    background-color: white;
    min-width: 1300px;
    max-width: 1400px;
}

/* 결제페이지 관련--------------------------------------------------------------
--------------------------------------------------------------*/
#searchPayBox2 {
  float: right;
  padding-right: 60px;
}

/*코치 개인정보 수정관련--------------------------------------------------------------
--------------------------------------------------------------*/
#coachModForm {
  position: relative;
  overflow: hidden;
}

#coachMod {
	float:left;
	padding-right:50px;
}

#coachModInput {
  float:left;
  height:500px;
  text-align: right;
}

#coachModInput > div{
  text-align: left;
}

#coachModInput input{
	margin-bottom: 1px;
}

#coachModInput input[type='radio']{
  margin-top: 10px;
  margin-bottom: 11px;
  left:0 ;
}

/*--------------------------------------------------------------
--------------------------------------------------------------*/

.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #ffffff;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff31c;
   transition: 0.5s ease-out  
}

.nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
  color: #fff31c;
   transition: 0.5s ease-out ;
}

.nav-menu .active > a, .nav-menu .active > a i {
	size: 120%;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 36px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ff8000;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #ff8000;
}

/*--------------------------------------------------------------
# 프로그램 관련
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	
  padding: 15px;
  color: #000000;
  font-size: 14px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #ffffff;
  position: relative;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding: 5px;
  overflow: visible;
  text-align: center;
  font-size: 13px;
  color: #000000;
}
