<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.CoachDao">

  <resultMap type="Coach" id="CoachMap">
    <id column="coach_no"                 property="no"/>
    <result column="id"                   property="id"/>
    <result column="name"                 property="name"/>
    <result column="gender"               property="gender"/>
    <result column="birth"                property="birth"/>
    <result column="tel"                  property="tel"/>
    <result column="email"                property="email"/>
    <result column="password"             property="password"/>
    <result column="photo"                property="photo"/>
    <result column="area"                 property="area"/>
    <result column="career"               property="career"/>
    <result column="certification"        property="certification"/>
    <result column="introduce"            property="introduce"/>
    <result column="members"              property="members"/>
    <result column="create_date"          property="createdDate"/>
    <result column="bank"                 property="bank"/>
    <result column="account"              property="account"/>
    <result column="work_type"            property="workType"/>
    <result column="address"              property="address"/>
    <result column="latitude"             property="latitude"/>
    <result column="longitude"            property="longitude"/>
    <result column="withdrawal"           property="withdrawal"/>
    <result column="withdrawal_date"      property="withdrawalDate"/>
    <result column="withdrawal_reason"    property="withdrawalReason"/>
  </resultMap>
  
  <sql id="select">
    coach_no,
    id,
    password,
    name,
    gender,
    birth,
    tel,
    email,
    work_type,
    photo,
  </sql>
  
  
   <insert id="insert" parameterType="Coach">
    insert into coaches(
      id,
	    password,
	    name,
	    gender,
	    birth,
	    tel,
	    email,
	    work_type,
	    photo,
      area,
      create_date
    ) values(
      #{id},
      password(#{password}),
      #{name},
      #{gender},
      #{birth},
      #{tel},
      #{email},   
      #{workType},    
      #{photo},
      #{area},
      now()
    )
  </insert>
  
   <select id="findAll" resultMap="CoachMap">
    select
      <include refid="select"/>
     area, 
     career,
     certification,
     introduce,
     members,
     create_date,
     bank,
     account,
     work_type,
     address,
     latitude,
     longitude
    from 
      coaches
   </select>


  <select id="findByNo" resultMap="CoachMap" parameterType="int">
    select 
      <include refid="select"/>
      area, 
     career,
     certification,
     introduce,
     members,
     create_date,
     bank,
     account,
     work_type,
     address,
     latitude,
     longitude
    from 
      coaches
    where 
      coach_no=#{no}
  </select>

  <update id="updateBankAccount" parameterType="Coach">
    update coaches
    <set>
      <if test="bank != null and bank != ''">bank=#{bank},</if>
      <if test="account != null and account != ''">account=#{account},</if> 
    </set>
    where 
      coach_no=#{no}
  </update>

  <update id="updateProfile" parameterType="Coach">
    update coaches
    <set>
      <if test="area != null and area != ''">area=#{area},</if>
      <if test="career != null and career != ''">career=#{career},</if> 
      <if test="certification != null and certification != ''">certification=#{certification},</if>
      <if test="introduce != null and introduce != ''">introduce=#{introduce},</if>
      <if test="photo != null and photo != ''">photo=#{photo},</if> 
    </set>
    where 
      coach_no=#{no}
  </update>

  <update id="updateWithdrawal" parameterType="map">
    update coaches
      set
        withdrawal=#{withdrawal},
        withdrawal_date=now(),
        withdrawal_reason=#{withdrawalReason}
    where 
      coach_no=#{no}
  </update>
  
  <update id="update" parameterType="Coach">
    update coaches
    <set>
      <if test="name != null and name != ''">name=#{name},</if>
      <if test="gender != null">gender=#{gender},</if> 
      <if test="birth != null and birth != ''">birth=#{birth},</if>             
      <if test="tel != null and tel != ''">tel=#{tel},</if> 
      <if test="email != null and email != ''">email=#{email},</if>       
      <if test="password != null and password != ''">password=password(#{password}),</if>
    </set>
    where 
      coach_no=#{no}
  </update>
  
  
  <delete id="delete" parameterType="int">
    delete from coaches
    where coach_no=#{no}
  </delete>


  <select id="findByKeyword" 
    resultMap="CoachMap" 
    parameterType="string">
    <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
    select 
      <include refid="select"/>
    from 
      coaches
    where 
      name like #{keywordPattern}
      or id like #{keywordPattern}
      or email like #{keywordPattern}
      or tel like #{keywordPattern}
  </select>


  <select id="findByIdAndPassword" resultMap="CoachMap" parameterType="map">
    select 
      <include refid="select"/>
     area, 
     career,
     certification,
     introduce,
     members,
     create_date,
     bank,
     account,
     work_type,
     address,
     latitude,
     longitude
    from coaches
    where 
      id=#{id} 
      and password=password(#{password})
      and withdrawal IS NULL
  </select>
 
</mapper>







