<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.CoachingProgramDao">

  <resultMap type="CoachingProgram" id="CoachingProgramMap">
    <id column="program_no"  property="no"/>
    <result column="coach_no"       property="coachNo"/>
    <result column="name"       property="name"/>
    <result column="introduce"  property="introduce"/>
    <result column="fee"    property="fee"/>
    <result column="coaching_type" property="coachingType"/>
    
    <association property="coach" javaType="Coach">
      <id column="coach_no"   property="no"/>
      <result column="coach_name"  property="name"/>
      <result column="photo"  property="photo"/>
      <result column="area"  property="area"/>
      <result column="career"  property="career"/>
      <result column="certification"  property="certification"/>
      <result column="coach_introduce"  property="introduce"/>
      <result column="work_type"  property="workType"/>
    </association>
    
   <!-- <collection property="coachingProgramTags" ofType="Integer">
      <id column="tag_no"   property="tagNo"/>
      <result column="program_no"  property="programNo"/>
    </collection> -->
  </resultMap>
  
  
   <insert id="insert" parameterType="CoachingProgram"
   useGeneratedKeys="true" keyColumn="program_no" keyProperty="no">
    insert into coaching_programs(
     coach_no,
     name,
     introduce,
     fee,
     coaching_type
    ) values(
      #{coachNo},
      #{introduce},
      #{fee},      
      #{coachingType},
    )
  </insert>
  
  <select id="findAllByCoachNo" resultMap="CoachingProgramMap" parameterType="int">
    select 
      c.program_no,
      c.coach_no,
      c.name,
      c.introduce,
      c.fee,
      ch.
    from 
     coaching_programs c
      join coaches ch on c.coach_no=ch.coach_no
    where 
      c.coach_no=#{coachNo}
      <!-- join workout_tags w on w.tag_no=ct.tag_no 태그는 코칭프로그램태그 맵퍼따로-->
  </select>

  <select id="findByNo" resultMap="CoachingProgramMap" parameterType="int">
     select  
      cp.program_no,
      cp.coach_no,
      c.name coach_name,
      c.photo,
      c.area,
      c.career,
      c.certification,
      c.introduce coach_introduce,
      c.work_type,
      cp.name,
      cp.introduce,
      cp.fee
    from 
      coaching_programs cp 
      join coaches c on cp.coach_no=c.coach_no
        where 
      cp.program_no=#{no}
  </select>


  <update id="update" parameterType="CoachingProgram">
    update coaching_programs
    <set>
      <if test="coachNo > 0">coach_no=#{coachNo},</if> 
      <if test="name != null and name != ''">name=#{name},</if>             
      <if test="introduce != null and introduce != ''">introduce=#{introduce},</if> 
      <if test="fee > 0">fee=#{fee},</if>       
      <if test="coachingType != null and coachingType != ''">coaching_type=#{coachingType},</if>
    </set>
      where 
        coach_no=#{coachNo}
  </update>
  
   <delete id="delete" parameterType="int">
    delete from coaching_programs
    where program_no=#{no}
  </delete>
  
  
   <select id="findByKeyword" resultMap="CoachingProgramMap" parameterType="string">
    select 
      cp.program_no,
      c.name coach_name,
      cp.name,
      cp.introduce,
      cp.fee
    from 
      coaching_programs cp 
      join coaches c on cp.coach_no=c.coach_no
      <where>
      <if test="keyword != null">c.name like concat('%', #{keyword}, '%')</if>
      <if test="keyword != null">or cp.name like concat('%', #{keyword}, '%')</if>
      </where>
      order by program_no desc
  </select>
  
  <select id="findAll" resultMap="CoachingProgramMap">
    select  
      cp.program_no,
      cp.coach_no,
      c.name coach_name,
      c.photo,
      c.area,
      c.career,
      c.certification,
      c.introduce coach_introduce,
      c.work_type,
      cp.name,
      cp.introduce,
      cp.fee
    from 
      coaching_programs cp 
      join coaches c on cp.coach_no=c.coach_no
      order by program_no desc
   </select>
</mapper>







