<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.MemberCoachingProgramDao">

  <resultMap type="MemberCoachingProgram" id="MemberCoachingProgramMap">
    <id column="member_program_no"  property="no"/>
    <result column="member_no"       property="memberNo"/>
    <result column="program_no"       property="programNo"/>
    <result column="remark"  property="remark"/>
    <result column="status"    property="status"/>
    <result column="request_date" property="requestDate"/>
    <result column="pay_date" property="payDate"/>
    <result column="start_date" property="startDate"/>
    <result column="end_date" property="endDate"/>
    <result column="star_rate" property="starRate"/>
    <result column="review" property="review"/>
    <result column="review_date" property="reviewDate"/>
    <result column="etc" property="etc"/>
    <result column="fee" property="fee"/>
    
    <association property="programName" javaType="String">   
    <result column="program_name" property="programName"/>
    </association>
        
    <association property="member" javaType="Member">
      <id column="member_no"              property="no"/>
	    <result column="id"                 property="id"/>
	    <result column="member_name"        property="name"/>
	    <result column="gender"             property="gender"/>
	    <result column="birth"              property="birth"/>
	    <result column="tel"                property="tel"/>
	    <result column="email"              property="email"/>
	    <result column="photo"              property="photo"/>
    </association>
  </resultMap>

  <sql id="selectProgram">
    mcp.member_program_no,
    mcp.member_no,       
    mcp.program_no,        
    mcp.remark,            
    mcp.status,            
    mcp.request_date,      
    mcp.pay_date,          
    mcp.start_date,        
    mcp.end_date,          
    mcp.star_rate,         
    mcp.review,            
    mcp.review_date,       
    mcp.etc 
  </sql>
  
  <sql id="selectMember">
    m.member_no,
    m.id,
    m.name,
    m.gender,
    m.birth,
    m.tel,
    m.email
  </sql>
  

 <select id="findAllRequest" resultMap="MemberCoachingProgramMap" parameterType="int"> <!-- 코치번호를 넘겨주기 -->
     select  
		    mcp.member_program_no,
		    mcp.member_no,       
		    mcp.program_no,        
		    mcp.remark,            
		    mcp.status,            
		    DATE_FORMAT(mcp.request_date, "%Y/%m/%d") as request_date,
		    mcp.pay_date,          
		    mcp.start_date,        
		    mcp.end_date,          
		    mcp.star_rate,         
		    mcp.review,            
		    mcp.review_date,       
		    mcp.etc,
		    cp.name as program_name,
		    m.member_no,
		    m.id,
		    m.photo,
		    m.name as member_name,
		    m.gender,
		    m.birth,
		    m.tel,
		    m.email
     from 
	     member_coaching_programs mcp 
	     left outer join members m on mcp.member_no = m.member_no
	     left outer join coaching_programs cp on cp.program_no = mcp.program_no
	   where 
	     cp.coach_no = #{no} and mcp.status REGEXP ('요청대기중|결제대기중')
  </select>

<!-- memberCoachProgramNo로 객체 하나 찾기 -->
  <select id="findByNo" resultMap="MemberCoachingProgramMap" parameterType="int"> 
     select  
        mcp.member_program_no,
        mcp.member_no,       
        mcp.program_no,        
        mcp.remark,            
        mcp.status,            
        DATE_FORMAT(mcp.request_date, "%Y/%m/%d") as request_date,
        mcp.pay_date,     
        DATE_FORMAT(mcp.start_date, "%Y/%m/%d") as start_date,
        DATE_FORMAT(mcp.end_date, "%Y/%m/%d") as end_date,
        mcp.star_rate,         
        mcp.review,            
        mcp.review_date,       
        mcp.etc,
        cp.name as program_name,
        m.member_no,
        m.id,
        m.photo,
        m.name as member_name,
        m.gender,
        m.birth,
        m.tel,
        m.email
     from 
       member_coaching_programs mcp 
       left outer join members m on mcp.member_no = m.member_no
       left outer join coaching_programs cp on cp.program_no = mcp.program_no
     where 
       mcp.member_program_no=#{no}
  </select>
  
  <update id="updateStatus" parameterType="map">
    update member_coaching_programs
      set
        status=#{status}
    where member_program_no=#{memberCoachingProgramNo}
  </update>
  
  <update id="updateEtc" parameterType="map">
    update member_coaching_programs
      set
        status="요청거절됨",
        etc=#{etc}
    where member_program_no=#{memberCoachingProgramNo}
  </update>
 
   <update id="updateReview" parameterType="map">
    update member_coaching_programs
      set
        review=#{review},
        review_date=now()
    where member_program_no=#{memberCoachingProgramNo}
  </update>
  
  <select id="findByProgramNo" resultMap="MemberCoachingProgramMap" parameterType="int">
     select  
       member_program_no,
       member_no,       
       mcp.program_no,        
       remark,            
       status,            
       request_date,      
       pay_date,          
       start_date,        
       end_date,          
       star_rate,         
       review,            
       DATE_FORMAT(review_date, "%Y/%m/%d") as review_date,       
       etc,
       c.name program_name                
    from 
      member_coaching_programs mcp 
      join coaching_programs c on mcp.program_no=c.program_no
        where 
      mcp.program_no=#{no}
  </select>
  
  <select id="findByCoachNo" resultMap="MemberCoachingProgramMap" parameterType="int">
     select  
       member_program_no,
       mcp.member_no,       
       mcp.program_no,        
       remark,            
       status,            
       request_date,      
       DATE_FORMAT(pay_date, "%Y/%m/%d") as pay_date,          
       start_date,        
       end_date,          
       star_rate,         
       review,            
       DATE_FORMAT(review_date, "%Y/%m/%d") as review_date,       
       etc,
       cp.name program_name,
       cp.fee as fee,
       m.name as member_name
    from 
      member_coaching_programs mcp
      left outer join members m on mcp.member_no = m.member_no 
      left outer join coaching_programs cp on mcp.program_no=cp.program_no
    where
      cp.coach_no = #{no} AND pay_date IS NOT NULL
  </select>
 
  <insert id="insert" parameterType="MemberCoachingProgram"
  useGeneratedKeys="true" keyColumn="member_program_no" keyProperty="no">
    insert into member_coaching_programs(
      member_no,
      program_no,
      remark,
      status,
      request_date,
      start_date,
      end_date
    ) 
    values(
      #{memberNo},
      #{programNo},
      #{remark},
      '요청대기중',
      now(),
      #{startDate},
      #{startDate}
    )
  </insert>
  
  <delete id="delete" parameterType="int">
    delete from member_coaching_programs
    where member_program_no=#{no}
  </delete>
 

 
</mapper>







