<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.MemberProgramCalendarDao">

  <resultMap type="MemberProgramCalendar" id="MemberProgramCalendarMap">
    <id column="calendar_no"  property="no"/>
    <result column="member_program_no"       property="memberProgramNo"/>
    <result column="plan"  property="plan"/>
    <result column="start_date"    property="startDate"/>
    <result column="end_date"    property="endDate"/>
    <result column="program_name" property="programName"/>
        
    <association property="member" javaType="Member">
      <id column="member_no"              property="no"/>
	    <result column="m_id"                 property="id"/>
	    <result column="m_name"        property="name"/>
	    <result column="m_gender"             property="gender"/>
	    <result column="m_birth"              property="birth"/>
	    <result column="m_tel"                property="tel"/>
	    <result column="m_email"              property="email"/>
	    <result column="m_photo"              property="photo"/>
    </association>
    
    <association property="coach" javaType="Coach">
      <id column="coach_no"              property="no"/>
      <result column="c_id"                 property="id"/>
      <result column="c_name"        property="name"/>
      <result column="c_gender"             property="gender"/>
      <result column="c_birth"              property="birth"/>
      <result column="c_tel"                property="tel"/>
      <result column="c_email"              property="email"/>
      <result column="c_photo"              property="photo"/>
    </association>
    
    <association property="memberCoachingProgram" javaType="MemberCoachingProgram">
      <id column="member_program_no"     property="no"/>
      <result column="member_no"         property="memberNo"/>
      <result column="program_no"         property="programNo"/>
      <result column="start_date"        property="startDate"/>
      <result column="end_date"             property="endDate"/>
      <result column="status"              property="status"/>
    </association>
    
    <collection property="files" ofType="CalendarFile">
      <id column="file_no"     property="no"/>
      <result column="calendar_no"         property="calendarNo"/>
      <result column="path"         property="path"/>
      <result column="file_type"        property="fileType"/>
    </collection>
  </resultMap>

  <select id="findAllbyMemberCoachingProgramNo" resultMap="MemberProgramCalendarMap" parameterType="int"> 
     select  
        mpc.calendar_no,
        mpc.plan,
        mpc.start_date,
        mpc.end_date,
        cp.name as program_name,
        m.member_no,
        m.id as m_id,
        m.photo as m_photo,
        m.name as m_name,
        m.gender as m_gender,
        m.birth as m_birth,
        m.tel as m_tel,
        m.email as m_email,
        c.coach_no,
        c.id as c_id,
        c.photo as c_photo,
        c.name as c_name,
        c.gender as c_gender,
        c.birth as c_birth,
        c.tel as c_tel,
        c.email as c_email,
        mcp.member_program_no,
        mcp.member_no,
        mcp.program_no,        
        mcp.status            
     from
       member_program_calendar mpc
       left outer join member_coaching_programs mcp on mpc.member_program_no = mcp.member_program_no
       left outer join members m on mcp.member_no = m.member_no
       left outer join coaching_programs cp on cp.program_no = mcp.program_no
       left outer join coaches c on cp.coach_no = c.coach_no
     where 
       mpc.member_program_no=#{no}
       AND mcp.status='진행중'
  </select>
  
  <select id="findAllbyMemberNo" resultMap="MemberProgramCalendarMap" parameterType="int"> 
     select  
        mpc.calendar_no,
        mpc.plan,
        mpc.start_date,
        mpc.end_date,
        cp.name as program_name,
        m.member_no,
        m.id as m_id,
        m.name as m_name,
        c.coach_no,
        c.id as c_id,
        c.name as c_name,
        mcp.member_program_no,
        mcp.member_no,
        mcp.program_no,        
        mcp.status            
     from
       member_program_calendar mpc
       left outer join member_coaching_programs mcp on mpc.member_program_no = mcp.member_program_no
       left outer join members m on mcp.member_no = m.member_no
       left outer join coaching_programs cp on cp.program_no = mcp.program_no
       left outer join coaches c on cp.coach_no = c.coach_no
     where 
       m.member_no=#{no}
  </select>
  
   <select id="findByNo" resultMap="MemberProgramCalendarMap" parameterType="int"> 
     select  
        cf.file_no,
        cf.path,
        cf.file_type,
        mpc.calendar_no,
        mpc.plan,
        DATE_FORMAT(mpc.start_date, "%Y/%m/%d") as start_date,
        DATE_FORMAT(mpc.end_date, "%Y/%m/%d") as end_date,
        cp.name as program_name,
        m.member_no,
        m.id as m_id,
        m.name as m_name,
        c.coach_no,
        c.name as c_name,
        c.id as c_id,
        mcp.member_program_no,
        mcp.member_no,
        mcp.program_no,        
        mcp.status            
     from
       member_program_calendar mpc
       left outer join member_coaching_programs mcp on mpc.member_program_no = mcp.member_program_no
       left outer join members m on mcp.member_no = m.member_no
       left outer join coaching_programs cp on cp.program_no = mcp.program_no
       left outer join coaches c on cp.coach_no = c.coach_no
       left outer join calendar_files cf on cf.calendar_no = mpc.calendar_no
     where 
       mpc.calendar_no = #{no}
  </select>
  
  <insert id="insert" parameterType="MemberProgramCalendar"
   useGeneratedKeys="true" keyColumn="calendar_no" keyProperty="no">
    insert into member_program_calendar(
      member_program_no,
	    plan,
	    start_date,
	    end_date
	   ) values( 
		  #{memberProgramNo},
		  #{plan},
		  #{startDate},
		  #{endDate}
	   )
  </insert>
  
  <update id="update" parameterType="MemberProgramCalendar">
    update member_program_calendar
	    <set>
	      <if test="plan != null and plan != ''">plan=#{plan},</if>
	      <if test="startDate != null and startDate != ''">start_date=#{startDate},</if>
	      <if test="endDate != null and endDate != ''">end_date=#{endDate},</if>
	    </set>
    where calendar_no=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
  delete
    from member_program_calendar
  where calendar_no=#{no}
  </delete>
</mapper>







