<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.ToDoListDao">

  <resultMap type="ToDoList" id="ToDoListMap">
    <id column="to_do_list_no"      property="no"/>
    <result column="member_no"       property="memberNo"/>
    <result column="memo"           property="memo"/>
    <result column="create_date"    property="createDate"/>
    
    <association property="member" javaType="Member">
      <id column="member_no"   property="no"/>
    </association>

  </resultMap>

  
  <insert id="insert" parameterType="ToDoList" 
  useGeneratedKeys="true" keyColumn="to_do_list_no" keyProperty="no">
    insert into 
      to_do_list(member_no, memo, create_date)
      values(#{memberNo}, #{memo}, #{createDate})
  </insert>
  
  
  <select id="findAll" resultMap="ToDoListMap" parameterType="int">
    select
      t.member_no,
      t.to_do_list_no,
      t.memo,
      t.create_date
    from 
      to_do_list t
      join members m on t.member_no=m.member_no
    where
      t.member_no=#{member.no}
  </select>
  
  
  <select id="findByNo" resultMap="ToDoListMap" parameterType="ToDoList">
   select 
      to_do_list_no,
      memo,
      create_date
   from
      to_do_list
   where
      to_do_list_no=#{no}
  </select>
  
  <update id="update" parameterType="ToDoList">
    update
     to_do_list
    set
      memo=#{memo},
      create_date=now()
    where 
      to_do_list_no=#{no}
  </update>
  
  
  <delete id="delete" parameterType="int">
    delete from to_do_list 
    where to_do_list_no=#{no}
  </delete>
  
  

</mapper>