<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.WeightDao">

  <resultMap type="Weight" id="WeightMap">
    <id column="weight_no"  property="no"/>
    <result column="member_no"       property="memberNo"/>
    <result column="weight"       property="weight"/>
    <result column="measure_date"  property="measureDate"/>
    
    <association property="member" javaType="Member">
      <id column="member_no"              property="no"/>
    </association>
  </resultMap>
  
   <insert id="insert" parameterType="Weight"
   useGeneratedKeys="true" keyColumn="weight_no" keyProperty="no">
    insert into weight(
      member_no,
      weight,
      measure_date
    ) values(
      #{memberNo},
      #{weight},
      #{measureDate}
    )
  </insert>
  
   <select id="findAllByMemberNo" resultMap="WeightMap">
    select
      w.weight_no,
      w.weight,
      w.measure_date
    from
      weight w
      join members m on w.member_no=m.member_no
    where
      w.member_no=#{memberNo}
   </select>
   
   
   <select id="findByweightNo" resultMap="WeightMap">
   select 
     weight_no,
     weight,
     measure_date
   from
      weight
   where 
      weight_no=#{no}
   </select>
   
    <update id="update" parameterType="Weight">
    update
     weight
    set
      weight=#{weight},
      measure_date=#{measureDate}
    where 
      weight_no=#{no}
  </update>
  
  
  <delete id="delete" parameterType="int">
    delete
     from weight
    where
     weight_no=#{no}
  </delete>
  
</mapper>







