<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.WeightDao">

  <resultMap type="Weight" id="WeightMap">
    <id column="weight_no"  property="no"/>
    <result column="member_no"       property="memberNo"/>
    <result column="weight"       property="weight"/>
    <result column="measure_date"  property="measureDate"/>
  </resultMap>
  
   <insert id="insert" parameterType="Weight">
    insert into weight(
      member_no,
      weight
    ) values(
      #{memberNo},
      #{weight}
    )
  </insert>
  
   <select id="findAllByMemberNo" resultMap="WeightMap" parameterType="int">
    select 
      weight,
      measure_date
    from 
      weight
    where
      member_no=#{memberNo}
   </select>
   
    <update id="update" parameterType="Weight">
    update
     weight
    set
      weight=#{weight}
    where 
      member_no=#{no}
  </update>
  
  
  <delete id="delete" parameterType="int">
    delete
     from weight
    where
     weight_no=#{no}
  </delete>
  
</mapper>







