<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.WorkoutDao">

  <resultMap type="Workout" id="WorkoutMap">
    <id column="workout_no"   property="no"/>
    <result column="name"  property="name"/>
    <result column="unit"  property="unit"/>
  </resultMap>
  
  
  <select id="findAll" resultMap="WorkoutMap" parameterType="String">
    select 
      workout_no
      name
      unit
    from 
      Workout  
  </select>

</mapper>




