<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coachcoach.dao.WorkoutUnitDao">

  <resultMap type="workout" id="workout">
      <id column="workout_no"              property="no"/>
      <result column="name"                property="name"/>
  </resultMap>
  
   <insert id="insert" parameterType="MemberWorkout">
    insert into workout(
      workout_no,
      name
    ) values (
      #{no},
      #{name},
    )
  </insert>
    
    

  
</mapper>







